
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppTranscode/AppTransPerf/AppTransPerf.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppEncode/AppEncQual/AppEncQual.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppEncode/AppEncPerf/AppEncPerf.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppEncode/AppEncOutputInVidMem/AppEncOutputInVidMem.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppEncode/AppEncMEOutputInVidMem/AppEncMEOutputInVidMem.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppEncode/AppEncME/AppEncME.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppEncode/AppEncD3D9/AppEncD3D9.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppEncode/AppEncD3D11/AppEncD3D11.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppEncode/AppEncCuda/AppEncCuda.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppDecode/AppDecPerf/AppDecPerf.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppDecode/AppDecMultiFiles/AppDecMultiFiles.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppDecode/AppDecMem/AppDecMem.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppDecode/AppDecLowLatency/AppDecLowLatency.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppDecode/AppDec/AppDec.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/.vs/NvCodec/v16/Solution.VC.db
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/.vs/NvCodec/v16/ipch/AutoPCH/508b6ebe54261390/APPDECPERF.ipch
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/.vs/NvCodec/v16/Browse.VC.db
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/.vs/NvCodec/v16/.suo
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples-build/CMakeFiles/cmake.check_cache
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples-build/CMakeCache.txt
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppDecode/AppDec/AppDec.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppDecode/AppDecLowLatency/AppDecLowLatency.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppDecode/AppDecMem/AppDecMem.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppDecode/AppDecMultiFiles/AppDecMultiFiles.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppDecode/AppDecPerf/AppDecPerf.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppEncode/AppEncCuda/AppEncCuda.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppEncode/AppEncD3D11/AppEncD3D11.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppEncode/AppEncD3D9/AppEncD3D9.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppEncode/AppEncME/AppEncME.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppEncode/AppEncMEOutputInVidMem/AppEncMEOutputInVidMem.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppEncode/AppEncOutputInVidMem/AppEncOutputInVidMem.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppEncode/AppEncPerf/AppEncPerf.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppEncode/AppEncQual/AppEncQual.vcxproj
Libraries/nVidia/Video_Codec_SDK_9.0.20/Samples/AppTranscode/AppTransPerf/AppTransPerf.vcxproj
